details {
    display: inline-block;
    position: relative;
  
    summary {
      user-select: none;
      &::-webkit-details-marker {
        display: none;
      }
    }
  
    &[open] > summary:before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: block;
      cursor: default;
      content: " ";
      background: transparent;
    }
  
    .body {
      z-index: 2;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: #fff;
      width: 230px;
      box-shadow: 0 5px 10px rgba(0,0,0,.4);
    }
  }
  
  body {
    background-color: #eee;
  }
  